body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}
.btn-voltar {
    background: #b3001b; 
    color: white; 
    border: none;
    padding: 10px 15px;
    margin: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.btn-voltar:hover {
    background: #b3001b;
}

.topo {
    background: linear-gradient(135deg, #b3001b, #8b0015);
    color: white;
    padding: 30px;
    text-align: center;
}

.container {
    padding: 20px;
}

.card {
    background: white;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
    transition: 0.2s;
}

.card:hover {
    transform: scale(1.02);
}

/* Tipos de risco */

.perigo {
    border-left: 6px solid #dc3545;
}

.alerta-card {
    border-left: 6px solid #ffc107;
}

.info {
    border-left: 6px solid #3b82f6;
}

h3 {
    margin-top: 0;
}

.alerta {
    background: #ffe5e5;
    color: #b3001b;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
    font-weight: bold;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: #f2f2f2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #ccc;
}

.item {
    text-align: center;
    font-size: 12px;
    color: #555;
    cursor: pointer;
}

.item span {
    font-size: 20px;
    display: block;
}

.item.ativo {
    color: #b3001b;
    font-weight: bold;
}
/*rodapé não esconde conteúdo*/
body {
    padding-bottom: 80px;
}